# site name for ssl cert
#css.uwindsor.ca
localhost

# route to reverse proxy to docusaurus(wiki)
# strip /wiki from the uri and send to docusaurus
route /wiki* {
      reverse_proxy localhost:3000
}

# route to reverse proxy to rails(hub-core)
route /* {
      reverse_proxy localhost:5000
}
